@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
}

.navbar {
  margin: 0.5rem 0;
  font-family: "CookieRun-Regular";
}

.jumbotron {
  width: 100%;
  height: 50vh;
  color: white;
  background-image: url("./shoes.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron h3 {
  font-size: 4rem;
}

.jumbotron span {
  font-size: 1.5rem;
}

.col-md-4 {
  margin: 2rem 0;
  transition: transform 0.3s ease;
}

.col-md-4:hover {
  transform: scale(1.05);
  border-radius: 26px;
  box-shadow: 2px 2px 2px 2px rgba(238, 238, 238, 0.694);
}

.btn-primary {
  border-radius: 6px;
}

.cart {
  height: 100vh;
}

.orderBtn {
  margin-top: 1rem;
}

.alertCloseBtn {
  margin-top: 1rem;
}

.addCartBtn,
.goBackBtn {
  margin: 0.5rem;
}

.mainMoreBtn {
  margin-bottom: 1rem;
}

.cardImg,
.cardTitle {
  cursor: pointer;
}

.cardImg {
  width: 50%;
}

.footer {
  width: 100%;
  height: 9rem;
  background-color: #008cff;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
