.my-alert {
  background-color: #5fe6ff;
  padding: 15px;
  border-radius: 6px;
  max-width: 500px;
  width: 100%;
  margin: 26px auto;
}

.my-alert2 {
  background-color: #5fe6ff;
  margin: 60px auto;
  padding: 15px;
  border-radius: 6px;
  max-width: 500px;
  width: 100%;
}

.my-alert p {
  margin-bottom: 0;
}

.detailNav {
  margin: 20px 0px;
  justify-content: center;
  color: black;
}

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}
